.App {
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
}
.container{
  text-align: center;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content:center;
  gap: 10px;
}